$backgroundColor: #52796F;
$textColor: #CAD2C5;
$fontFamily: 'Fjalla One';
$bg-dark: #2F3E46;
$accent-dark: #354F52;
$color-main: #52796f;
$bg-light: #CAD2C5;
$accent-light: #84A98C;

// Potential color palette: https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: $textColor;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $textColor;
}

img {
    width: 100%;
}

/***** NAVBAR *****/
.navbar {
    background-color: $bg-light;
    height: 70px;

    .flex {
        justify-content: space-between;
    }

    ul {
        display: flex;
    }

    a {
        color: $bg-dark;
        padding: 10px;
        margin: 0 5px;
    }

    a:hover {
        border-bottom: 2px $bg-dark solid;
    }

    img {
        width: 170px;
        height: auto;
        padding-left: 30px;
    }
}

/***** FLEX & GRID *****/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

/*****HOME SECTION *****/
.home-head {
    padding: 50px;
    background-color: $bg-light;

    img {
        width: 200px;
        justify-self: flex-end;
        border-radius: 50%;
        border: 1px #84A98C solid;
    }

    .container {
        padding: 20px;
    }

    h1, p {
        padding-left: 10px;
        color: $bg-dark;
    }
}

/***** FOOTER *****/
.footer {
    background-color: $bg-dark;
}

.footer h1 {
    font-size: 27px;
}
.footer .social a {
    margin: 0 10px;
}

/***** SOCIALS IN FOOTER *****/
.social {
    a {
        list-style: none;
    }
    a:nth-child(1) .fab:hover {
        background-color: #333;
    }
    a:nth-child(2) .fab:hover {
        background-color: #3b5999;
    }
    a:nth-child(3) .fab:hover {
        background-color: #0077B5;
    }    

    .fab {
        transition: 0.6s;
        border-radius: 50px;
        box-shadow: 0px 0px 2px #CAD2C5;
        padding: 0.2em 0.3em;
    }
    .fab:hover {
        transform: translate(0, -10px);
    }
}

/***** ABOUT PAGE *****/
.about-body, .about-html{
    height: 100%;
    margin: 0;
}

.about-bg-img-1, .about-bg-img-2, .about-bg-img-3  {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.about-bg-img-1 {
    background-image: url('../images/school.jpg');
    min-height: 100%;
}

.about-bg-img-2 {
    background-image: url('../images/webdev.jpg');
    min-height: 400px;
}

.about-bg-img-3 {
    background-image: url('../images/office.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}


.section-light {
    background-color: #CAD2C5;
    color: #2F3E46;
}

.section-dark {
    background-color: #2F3E46;
    color: #CAD2C5;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

    .border {
        display: inline-block;
        background-color: #2F3E46;
        opacity: 0.7.5;
        color: #CAD2C5;
        padding: 20px;
    }
}

/***** PORTFOLIO *****/
.portfolio {
    background-color: $bg-light;
    color: $bg-dark;


    h2 {
        text-align: center;
    }

    h4 {
        text-align: center;
        font-style: italic;
        font-weight: lighter;
    }

    .portfolio_link {
        color: $bg-dark;
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
    
        .portfolio_title {
            padding: 20px 0;
        }
        .portfolio_text {
            padding: 0 5px;
        }
    }

    .portfolio_project {
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
        width: 300px;
        height: 200px;
        margin: 18px 10px 40px;
        transition: transform 0.2s ease-in;
        justify-self: center;
        align-self: center;
    }

    .portfolio_project:hover {
        transform: translateY(-15px);
    }
}

/***** TABLET MEDIA QUERIES *****/
@media(max-width: 768px) {
    .grid, 
    .home-head .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .home-head img {
        margin-top: 50px;
        justify-self: center;
        align-self: center;
        animation: slideInFromTop 1s ease-in;
    }

    .home-head .home-text {
        text-align: center;
    }

    .home-head {
        height: auto;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .features-main .grid >*:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }

    .footer {
        text-align: center;
    }
}

/***** MOBILE MEDIA QUERIES *****/
@media(max-width: 500px) {
    .navbar {
        height: 250px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(82, 121, 111, 0.15);
    }

    .navbar img {
        padding-left: 0;
    }

    .showcase-form {
        width: 300px;
    }

    .about-bg-img-1, .about-bg-img-2, .about-bg-img-3  {
        background-attachment: scroll;
    }
}


